<!doctype html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <meta name='description' content='Cruxer - Social Routesetting'>
    <meta name='author' content='Terry Tsai'>
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
    <title>Cruxer</title>
    <link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Lato'>
    <link rel='stylesheet' type='text/css' href='css/reset.css'>
    <link rel='stylesheet' type='text/css' href='css/debug.css'>
    <link rel='stylesheet' type='text/css' href='css/common.css'>
    <link rel='stylesheet' type='text/css' href='css/global.css'>
    <link rel='stylesheet' type='text/css' href='css/simplegrid.css'>
    <link rel='stylesheet' type='text/css' href='css/spectrum.css'>
    <link rel='stylesheet' type='text/css' href='css/spectrum.custom.css'>
    <link rel='stylesheet' type='text/css' href='css/hold.css'>
    <link rel='stylesheet' type='text/css' href='css/wall.css'>
    <link rel='stylesheet' type='text/css' href='css/cruxer.css'>
</head>

<body>
    <div th:replace="header :: header"></div>
    <section class='grid grid-pad'>
        <div class='col-2-3'>
            <div class='content'>
                <canvas id='cruxer-canvas'></canvas>
                <input id='cruxer-color' type='text' class='w2-10 left'></input>
                <button id='cruxer-save' class='w2-10 right'>Save</button>
                <button id='cruxer-delete' class='w2-10 right'>Delete</button>
            </div>
        </div>
        <div class='col-1-3'>
            <div class='content'>
            </div>
        </div>
        <div class='col-1-1'>
            <div class='content'>
                <span>HOLDS</span>
                <div id="hold-list"></div>
            </div>
        </div>
        <div class='col-1-1'>
            <div class='content'>
                <span>WALLS</span>
                <div id="wall-list"></div>
            </div>
        </div>
    </section>
    <script src='js/jquery-2.2.1.min.js'></script>
    <script src='js/jquery.mousewheel.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.min.js'></script>
    <!-- ReactJS -->
    <script src='js/react.js'></script>
    <script src='js/react-dom.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
    <!-- Spectrum -->
    <script src='js/spectrum.js'></script>
    <!-- Babylon -->
    <script src='js/babylon.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/handjs/1.3.11/hand.min.js'></script>
    <script src='js/babylon.objFileLoader.js'></script>
    <script src='js/customJoystick.js'></script>
    <script src='js/customJoystickCamera.js'></script>
    <script src='js/cruxer.js'></script>
    <script type='text/babel' src='jsx/HoldView.jsx'></script>
    <script type='text/babel' src='jsx/HoldListView.jsx'></script>
    <script type='text/babel' src='jsx/WallView.jsx'></script>
    <script type='text/babel' src='jsx/WallListView.jsx'></script>
    <script th:inline="javascript" th:if="${id != null}">
    /*<![CDATA[*/
    engine.engineImport( /*[[${id}]]*/ );
    /*]]>*/
    </script>
    <script type='text/babel'>
        ReactDOM.render(
        <HoldListView engine={engine}/>, document.getElementById('hold-list') ); ReactDOM.render(
        <WallListView header="Walls" engine={engine}/>, document.getElementById('wall-list') );
    </script>
</body>

</html>
