@media only screen and (min-width: 768px) {
    /* tablets and desktop */
    body {
        margin: 0 30px;
    }
}

@media only screen and (max-width: 767px) {
    body {
        margin: 0 5px;
    }
    .w1-10 {
        width: 33.33%;
    }
    .w2-10 {
        width: 33.33%;
    }
    .w3-10 {
        width: 33.33%;
    }
    .w4-10 {
        width: 100%;
    }
    .w5-10 {
        width: 100%;
    }
    .w6-10 {
        width: 100%;
    }
    .w7-10 {
        width: 100%;
    }
    .w8-10 {
        width: 100%;
    }
    .w9-10 {
        width: 100%;
    }
}

nav {
    align-items: center;
    border-bottom: 1px solid black;
}

canvas {
    border-left: 1px solid #999;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
}

img {
    max-width:100%;
    max-height:100%;
}

section {
    padding: 30px 0;
}

footer {
    border-top: 1px solid black;
}

fieldset {
    font-family: 'Lato', sans-serif;
}

form {
    width: 300px;
    padding: 0 20px;
    margin: auto;
}

input, button, select {
    background-color: transparent;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 0 solid;
    border-bottom: 1px solid #999;
    font-size: 1.4em;
    outline: none;
    padding: 2px 0;
    text-align: center;
    width: 100%;
}

label {
    margin-top: 10px;
    display: block;
    color: #999;
    background-color: transparent;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #999;
    font-size: 1.4em;
    padding: 2px 0;
    text-align: center;
    width: 100%;
}

input, select {
    color: #999;
}

button:not([disabled]):hover {
    background-color: #333;
    color: #ddd;
    transition: background-color .3s, color .3s;
}

option {
    text-align: center;
}

button:disabled {
    border: 0 solid;
}

nav img {
    padding: 0 10px;
}

nav a {
    color: #333;
    padding: 2px 20px;
}

nav a:hover, nav a:focus {
    background-color: #333;
    color: #ddd;
    outline: none;
    transition: background-color .3s, color .3s;
}

.made-by {
    text-align: center;
    padding: 30px 0;
}

#cruxer-canvas {
    touch-action: none;
    margin-bottom: 4px;
}