<!doctype html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <meta name='description' content='Cruxer - Social Routesetting'>
    <meta name='author' content='Terry Tsai'>
    <title>Cruxer</title>

    <link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Lato'>
    <link rel='stylesheet' type='text/css' href='css/reset.css'>
    <link rel='stylesheet' type='text/css' href='css/debug.css'>
    <link rel='stylesheet' type='text/css' href='css/common.css'>
    <link rel='stylesheet' type='text/css' href='css/global.css'>
</head>

<body>
<nav class="flex">
    <img src='img/logo.png'/>

    <div class='flex-left'>
        <a href='index.html'>HOME</a>
        <a href='viewer.html'>DESIGN</a>
        <a href='about.html'>ABOUT</a>
    </div>
    <div class='flex-right' th:if="${account == null}">
        <a href='login.html'>LOGIN</a>
        <a href='register.html'>REGISTER</a>
    </div>
    <form class='flex-right' th:if="${account != null}" action="logout" method="post">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <a href="javascript:;" onclick="parentNode.submit();">LOGOUT</a>
    </form>
</nav>


</body>

</html>
